[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
numpy = "*"
django = "*"
bs4 = "*"
psycopg2 = "*"
rest-framework = "*"
djangorestframework = "*"
httpie = "*"
markdown = "*"
kafka-python = "*"

[requires]
python_version = "3.7"
